* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

.step-box {
  width: 300px;
  background-color: #eee;
  margin: 50px auto;
}

.step-visual {
  margin: 10px;
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: contain;
  background-position: top;
}

.step-logo {
  background-color: #ff9a4b;
  width: 45px;
  height: 30px;
  position: absolute;
}

span {
  color: #fff;
}

.step-title {
  padding: 5px 0 5px 10px;
}

p {
  padding: 0 10px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #aaa;
}